<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owners page</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner :${owners}">
        <td th:text="${owner.id}">you</td>
        <td th:text="${owner.firstName}">shouldn't</td>
        <td th:text="${owner.lastName}">see me</td>
    </tr>
    </tbody>
</table>
</body>
</html>